/************************
 ******** Colors ******** 
 ************************/

:root {
  --fc-white: #fff;
  --fc-black: #000;
  --fc-dark-black-01:#1A1A1A;
  --fc-dark-black-02: #333333;
  --fc-gray-01: #707070; /*Não existe na paleta de cores*/
  --fc-gray-02: #818181;
  --fc-light-gray: #CECFD0;
  --fc-light-orange-01: #FFF6F3; /* Não existe na paleta de cores */
  --fc-light-orange-02: #FFF0EB;
  --fc-light-orange-03: #FFBAA3;
  --fc-light-orange-04: #FF875C;
  --fc-orange-01: #FF662E;
  --fc-orange-02: #FF5417;
  --fc-orange-03: #FF4500;
  --fc-dark-orange-01: #D13800;
  --fc-dark-orange-02: #BA3300;
  --fc-green: #37BA00;
}