@import "./bootstrap.css";
@import "./colors.css";
@import "./fonts.css";

/************************
 ******** Global ******** 
 ************************/


/************************
 ******** login ********* 
 ************************/

.login {
    display: flex;
    width: 100%
}

.left {
    height: 100vh;
    max-width: 817px;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left .logo {
    max-width: 275px;
    width: 100%;

    margin: 0 0 30px 0;
}

.left form {
    /*width: 275px;*/
}

.left form .input-wrapper {
    width: 452px;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid var(--fc-gray-01);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 3px;
}

.left form .input-wrapper img {
    width: 27px;
    height: 27px;
    margin-right: 20px;
}

.left form .input-wrapper input {
    width: 452px;
    height: 100%;
    border: none;
    box-shadow: none;
    padding-left: 5px;
}

input:focus {
    border: none;
    border-color: none;
    box-shadow: none;
}

.left .login-form .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 41px;
}

.left .login-form .actions button {
    background-color: var(--fc-orange-03);
    color: var(--fc-white);
    border-radius: 10px;
    width: 140px;
    height: 60px;
}

.left .login-form .actions a {
    color: var(--fc-orange-03);
    text-decoration: none;
    font-size: 0.7rem;
}

.separator {
    width: 452px;
    height: 1px;
    background-color: var(--fc-gray-01);
    margin: 45px 0;
}

a.btn-signup {
    border: 1px solid var(--fc-orange-03);
    color: var(--fc-orange-03);
    width: 452px;
    height: 60px;
}

a.btn-signup:hover {
    color: var(--fc-orange-03);
    cursor: pointer;
}

.right {
    height: 100vh;
    background-color: var(--fc-light-orange-01);

    display: flex;
    align-items: center;
    justify-content:center; 
}

/************************
 ******** home ********* 
 ************************/

header {
    background-color: var(--fc-white);
    height:70px;
}

header mav .nav-brand img {
    max-width: 180px;
}

header nav .menu-nav li.nav-item + li.nav-item {
    margin-left: 50px;
}

header nav .menu-nav .nav-item nav-link {
    color: var(--fc-gray-02);
}

header nav .menu-nav .nav-item .nav-link.active {
    color: var(--fc-orange-03);
    border-bottom: 3px solid var(--fc-orange-03);
}

main {
    background-color: var(--fc-light-orange-01);
    height: 100vh;
    padding-top: 100px;
}

main .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;
}

main .title-wrapper .welcome-title {
    color: var(--fc-orange-01);
}

main .title-wrapper .welcome-subtitle {
    color: var(--fc-dark-black-02);
}

main .content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main .content-wrapper .content {
    background-color: var(--fc-white);
    border-radius: 10px;
    max-width: 328px;
    max-height: 402px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 23px 23px 23px;
    margin-right: 16px;
}

main .content-wrapper .content:last-child {
    margin-right: 0;
}

main .content-wrapper .content img{
    background-color: var(--fc-white);
    border-radius: 10px;
    max-width: 210px;
    max-height: 183px;
    width: 100%;
    height: 100%;
    margin-bottom: 45px;
}

main .content-wrapper .content button {
    background-color: var(--fc-orange-03);
    color: var(--fc-white);
    border-radius: 10px;
    width: 100%;
}