@import "./bootstrap.css";
@import "./colors.css";
@import "./fonts.css";

/************************
 ******** Global ******** 
 ************************/
main {
    background-color: var(--fc-light-orange-01);
    padding-top: 100px;
}

.bg-fc-green {
    background: var(--fc-green);
}

#circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    shape-outside: circle();
}

.fc-btn {
    border: 1px solid var(--fc-orange-03);
    background-color: var(--fc-orange-03);
    color: var(--fc-white);
    border-radius: 10px;
}

/************************
 ******** login ********* 
 ************************/

.login {
    display: flex;
    width: 100%
}

.login .left {
    height: 100vh;
    max-width: 817px;

    display:flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.login .left .authentication {
    max-width: 380px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login .left .authentication .login-wrapper {
    width:100%;
}

.login .left .authentication .logo {
    max-width: 235px;
    margin-bottom: 50px;
}

.login .left form {
}

.login .left form .input-wrapper {
    max-width: 452px;
    height: 50px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border: 1px solid var(--fc-gray-01);
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 3px;
}

.login .left form .input-wrapper img {
    max-width: 27px;
    max-height: 27px;
    margin-right: 20px;
}

.login .left form .input-wrapper input {
    max-width: 380px;
    height: 100%;
    border: none;
    box-shadow: none;
    padding-left: 5px;
}

.login input:focus {
    border: none;
    border-color: none;
    box-shadow: none;
}

.login .left .login-form .actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 41px;
}

.login .left .login-form .actions button {
    background-color: var(--fc-orange-03);
    color: var(--fc-white);
    border-radius: 10px;
    max-width: 140px;
    height: 50px;
    width: 100%;
}

.login .left .login-form .actions a {
    color: var(--fc-orange-03);
    text-decoration: none;
    font-size: 0.7rem;
}

.login .separator {
    max-width: 380px;
    height: 1px;
    width: 100%;
    background-color: var(--fc-gray-01);
    margin: 45px 0;
}

.login a.btn-signup {
    border: 1px solid var(--fc-orange-03);
    color: var(--fc-orange-03);
    max-width: 452px;
    max-height: 60px;
    width: 100%;
    height: auto;
}

.login a.btn-signup:hover {
    color: var(--fc-orange-03);
    cursor: pointer;
}

.login .right {
    height: 100vh;
    background-color: var(--fc-light-orange-01);

    display: flex;
    align-items: center;
    justify-content:center; 
}

.login .right.bl-5 {
    border-left: 5px solid var(--fc-orange-03);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.login .right .images-wrapper {
    max-width: 750px;
    max-height: 844px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/************************
 ******** home ********* 
 ************************/

header {
    background-color: var(--fc-white);
    height:70px;
}

header mav .nav-brand img {
    max-width: 180px;
}

header nav .menu-nav li.nav-item + li.nav-item {
    margin-left: 50px;
}

header nav .menu-nav .nav-item nav-link {
    color: var(--fc-gray-02);
}

header nav .menu-nav .nav-item .nav-link.active {
    color: var(--fc-orange-03);
    border-bottom: 3px solid var(--fc-orange-03);
}

main {
    height: 100vh;
}

.home main .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;
}

.home main .title-wrapper .welcome-title {
    color: var(--fc-orange-01);
}

.home main .title-wrapper .welcome-subtitle {
    color: var(--fc-dark-black-02);
}

.home main .content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home main .content-wrapper .content {
    background-color: var(--fc-white);
    border-radius: 10px;
    max-width: 328px;
    max-height: 402px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 23px 23px 23px;
    margin-right: 16px;
}

.home main .content-wrapper .content:last-child {
    margin-right: 0;
}

.home main .content-wrapper .content img{
    background-color: var(--fc-white);
    border-radius: 10px;
    max-width: 210px;
    max-height: 183px;
    width: 100%;
    height: 100%;
    margin-bottom: 45px;
}

.home main .content-wrapper .content button {
    background-color: var(--fc-orange-03);
    color: var(--fc-white);
    border-radius: 10px;
    width: 100%;
}

/************************
 ******** Perfil do Profissional ********* 
 ************************/

.profile-professional .main {
    padding-bottom: 100px;
    height: 100%;
}

.profile-professional .main .container {
    max-width: 768px
}

.profile-professional main .profile-professional-top {
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.profile-professional main .profile-professional-top .profile-professional-user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-professional main .profile-professional-top .profile-professional-user img.profile-professional-picture {
    max-width: 130px;
    max-height: 130px;

    margin-right: 30px;
}

.profile-professional main .profile-professional-top .profile-professional-user .profile-professional-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.profile-professional main .profile-professional-top .profile-professional-user .profile-professional-info .profile-professional-status-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-professional main .profile-professional-top .profile-professional-user .profile-professional-info .profile-professional-status-wrapper .profile-professional-status {
    display: flex;
    color: var(--fc-green);
    margin-left: 6px;
}

.profile-professional main .profile-professional-top .btn-schedule {
    max-width: 250px;
    width: 100%;
}

.profile-professional main .profile-professional-content {
    padding: 60px;
    border-radius: 10px
}

.profile-professional main .profile-professional-content .profile-professional-personal-informations {
    border-bottom: 1px solid rgba(112, 112, 112, .2);
    padding-bottom: 60px
}

.profile-professional main .profile-professional-content .profile-professional-personal-informations .row+.row {
    margin-top: 45px;
}

.profile-professional main .profile-professional-content .profile-professional-skills {
    margin-top: 45px;

    border-bottom: 1px solid rgba(112, 112, 112, .2);
    padding-bottom: 60px
}

.profile-professional main .profile-professional-content .profile-professional-skills .profile-professional-skills-filter-list {
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-professional main .profile-professional-content .profile-professional-interest {
    margin-top: 45px;
}

.profile-professional main .profile-professional-content .profile-professional-interest .profile-professional-interest-filter-list {
    list-style-type: none;
}

/************************
 ******** tela de confirmacao ********* 
 ************************/

.tela-de-confirmacao

.tela-de-confirmacao main .container {
    background-color: var(--fc-white);
    width: 800px;
    height: 425px;
}

.tela-de-confirmacao main .container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tela-de-confirmacao main .container .content img {
    background-color: var(--fc-white);
    max-width: 122px;
    max-height: 110px;
    width: 100%;
    height: 100%;
    margin-top: 40px;
    margin-bottom: 35px;
}

.tela-de-confirmacao main .container .content h1 {
    font-weight: 500;
    line-height: 1.2;
    width: 100%;
    height: 100%;
}

.tela-de-confirmacao main .container .content .schedule-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 400px;
}

.tela-de-confirmacao main .container .content .schedule-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 25px 128px 0 0;
}

.tela-de-confirmacao main .container .content .schedule-hour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 25px 0 0 0;
}