.borda-nav{
    border-bottom: 1px solid #E3E3E3;
    margin: 0 0 50px 0;
}

body{
    background-color: #FFF6F3;
    font-size: 22px;
}

h1{
    display: inline;
    color: #FF4500;
    text-align: center;
    font-size: 32px;
}

.bar-etapas{
    background-color: #FF4500;
    
}

.botao-etapas{
    background-color: #FFF6F3;
    color: #FF4500;
    border: 1px solid #FF4500;
}

.botao-etapa-selecionada{
    background-color: #FF4500;
    color: #ffffff;
}

.botao{
    position: relative;
    left: 400px;
    background-color: #FFF6F3;
    font-family: "Segoe UI, Regular";
    color: #FF4500;
    border: 1px solid #FF4500;
    opacity: 1;
}

.botao:hover{
    background-color: #FF4500;
    color: #FFF6F3;
}

a{
    font-family: "Segoe UI, Regular";
    color: #FF4500;
    text-decoration: none;
}

a:hover{
    color: #ffffff;
    text-decoration: none;
}

.descricao-etapas{
    display: inline-block;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 30px;
}

.primeira-section {
    width: 750px;
}

.segunda-section {
    background-color: #ffffff;
    font-family: "Metropolis, Regular";
    width: 920px;
    height: 878;
    border-radius: 10px;
    opacity: 1;
}


