body{
    background-color: #FFF6F3;
    font-family: "Segoe UI";
}

nav{
    background-color: #FFFFFF;
    border-bottom: 1px solid #E3E3E3;
}

.pesquisa{
    display: inline-block;
    background: #FFF6F3 0% 0% no-repeat padding-box;
    border-radius: 10px;
    width: 1232px;
}

#pesquisa-filtro {
    display: inline-block;
    padding: 0 10px;
}

.botao-label{
    background-color: #FFFFFF;
    font-size: 18px;
    border: 1px solid #CECFD0;
    color: #CECFD0;
    opacity: 1;
}

.botao-label:hover{
    background-color: #FF4500;
    color: #FFFFFF;
    font-size: 18px;
    border: 1px solid #FF4500;
    opacity: 1;
}

.botao-label:active{
    background-color: #FF4500;
    color: #FFFFFF;
    font-size: 18px;
    border: 1px solid #FF4500;
    opacity: 1;
}

.borda-cor-especial{
    box-shadow: 0px 3px 6px #00000029
    ;
}

.botao-cor-especial{
    background-color: #FF4500;
    color: white;
}

.card-posicao-imagem{
    object-fit: cover;
    height: 200px;
}

.card-posicao-imagem1{
    object-fit: cover;
    object-position: 0 10%;
    height: 200px;
}
h5{
    color: #FF4500;
    font-size: 26px;
}

p{
    font-size: 16px;
    display: inline-block;
    padding: 0 10px;
}

.texto-pesquisa{
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

p{
    font-size: 22px;
}

.primeira-section{
    background-color: #FFF6F3;
    width: 1544px;
}

.primeira-section div{
    background-color: #FFFFFF;
    border-radius: 10px;
}

